$color: #000000;
$h2color: #740e0e;

body {
  color: $color;
  .modal {
    width: 100%;
    height: 100%;
    background: blue;
  }
  #portal {
    text-align: center;
  }
}

h2 {
  color: $h2color;
}

.link {
  display: block;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  height: auto;
  font-size: 30px;
  text-decoration: none;
}